.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);

  padding: 1rem;
  border-radius: var(--section-border);
}

.cards__icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px;
}

.cards__icon small {
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
